%p= link_to 'Back to Project', project_path(@demo_session.project)

= link_to "Email Session Report to #{@demo_session.user.email}", email_demo_session_path(@demo_session), method: :post, class: 'btn btn-default btn-sm'

= render partial: 'content'

