%div{ data: { controller: 'narrator' } }
  .form-group
    %label Jump to Screen:
    = select_tag :screen, options_from_collection_for_select(@project.screens.order(root: :desc, title: :asc).decorate, 'url', 'title'), include_blank: true, class: 'form-control', data: { action: 'narrator#onJump' }

  %hr

  - if @project.screens.count.positive?
    %div{ data: { target: 'narrator.content' } }
      %button.btn.btn-default{ style: 'display: none', data: { url: screen_url(@project.root_screen), action: 'narrator#onLaunch', target: 'narrator.launchButton' } } Open Project Window
  - else
    %p Project has no screens defined, and cannot be launched.
