.m-admin-screen-img {
  max-width: 100%;
  margin-bottom: 16px;
}

.m-admin-screen-sales-item {
  padding: 8px;
  border: 1px solid $gray-300;
  margin-bottom: 16px;
}

.m-admin-link-editor {
  position: relative;
  img {
    width: 100%;
  }
}

.m-admin-link-editor-link {
  background-color: blue;
  opacity: 0.4;
  position: absolute;
}
