$mongo-green: #14aa52;
$mongo-dark-green: #236b55;

@import "bootstrap/scss/bootstrap";
@import "quill/dist/quill.core";
@import "quill/dist/quill.snow";
@import "admin";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

main > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $mongo-dark-green;
}

.btn {
  &.btn-default {
    background-color: $mongo-green;
    color: white;
  }

  &.btn-outline {
    background-color: white;
    border-color: $mongo-green;
    color: $mongo-green;
  }

  &.btn-link.focus,
  &.btn-link:focus {
    box-shadow: none;
  }
}

.alert {
  border-color: $mongo-green;
  background-color: lighten($mongo-dark-green, 60);
  color: $mongo-green;

  .close {
    color: $mongo-dark-green;
    position: relative;
    top: -2px;
  }
}

a {
  color: $mongo-green;

  &:hover {
    text-decoration: none;
    color: $mongo-dark-green;
  }
}

.form-control:focus {
  border-color: $mongo-green;
  box-shadow: 0 0 0 0.2rem rgba($mongo-green, 0.25);
}

.turbolinks-progress-bar {
  background-color: $mongo-green;
}

.m-screen {
  position: relative;

  img {
    width: 100%;
  }

  .m-screen-link {
    opacity: 0;
    background-color: $mongo-green;
    position: absolute;
    cursor: pointer;
  }

  &.m-screen-shift .m-screen-link {
    opacity: 0.4;
  }
}

.m-rich-text {
  p {
    margin-bottom: 0;
  }
}

.m-narrator {
  .m-narrator-session-details,
  .m-screen-session-content,
  .m-narrator-jump {
    display: none;
  }

  &.with-session {
    .m-narrator-session-details,
    .m-screen-session-content {
      display: block;
    }
  }

  &.launched .m-narrator-jump {
    display: block;
  }

  .m-narrator-sales-items {
    .card-header {
      padding: 8px;
    }

    .btn {
      color: $mongo-green;
    }
  }

}
