@import "bootstrap/scss/bootstrap";
@import "quill/dist/quill.core";
@import "quill/dist/quill.snow";
@import "admin";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-screen {
  position: relative;

  img {
    width: 100%;
  }

  .m-screen-link {
    opacity: 0.3;
    background-color: blue;
    position: absolute;
    cursor: pointer;
  }
}

.m-rich-text {
  p {
    margin-bottom: 0;
  }
}
