.m-admin-link-editor-link{ style: "top: #{link.coordinates['top']}; bottom: #{link.coordinates['bottom']}; left: #{link.coordinates['left']}; right: #{link.coordinates['right']};", data: { url: admin_screen_link_path(link), action: 'mousedown->link-editor#onDelete' } }
